@import 'tailwindcss';

:root {
  --background: var(--color-zinc-100);
  --foreground: var(--color-zinc-900);
}

[data-theme='dark'] {
  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-100);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto-flex: var(--font-roboto-flex);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
