@import 'tailwindcss';

:root {
  --background-primary: var(--color-zinc-50);
  --background-secondary: var(--color-zinc-100);
  --background-tertiary: var(--color-zinc-200);
  --foreground-primary: var(--color-zinc-950);
  --foreground-secondary: var(--color-zinc-700);
  --foreground-tertiary: var(--color-zinc-600);
}

[data-theme='dark'] {
  --background-primary: var(--color-zinc-950);
  --background-secondary: var(--color-zinc-800);
  --background-tertiary: var(--color-zinc-700);
  --foreground-primary: var(--color-zinc-50);
  --foreground-secondary: var(--color-zinc-300);
  --foreground-tertiary: var(--color-zinc-400);
}

@theme inline {
  --color-bg-primary: var(--background-primary);
  --color-bg-secondary: var(--background-secondary);
  --color-bg-tertiary: var(--background-tertiary);
  --color-fg-primary: var(--foreground-primary);
  --color-fg-secondary: var(--foreground-secondary);
  --color-fg-tertiary: var(--foreground-tertiary);
  --color-highlight: var(--color-emerald-500);

  --font-roboto-flex: var(--font-roboto-flex);
}

body {
  background: var(--background-primary);
  color: var(--foreground-primary);
  font-family: Arial, Helvetica, sans-serif;
}
