/* Reset rules */
* {
  margin: 0;
  padding: 0;

  text-decoration: none;

  font-family: Lato, sans-serif;
}

/* Common classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

/* overflow removed from html to prevent overflow on Projects.jsx */
html {
  overflow: hidden;
}

html, 
body {
  height: 100%;
}

:root {
  height: 100%;
  width: 100%;

  --main-bg-color: #1d2124;
  --main-text-color: #fff;
  --secondary-text-color: #ddd;
  --main-highlight-color: #10ac84;
  --secondary-highlight-color: #1dd1a1;

  --main-width: 90%;
  --header-height: 54px;
  --header-margin: 36px;
  --footer-height: 106px;
}

/* set overflow to scroll in body to allow scrolling overflowed content */
body {
  background-color: var(--main-bg-color);
  overflow: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--main-text-color)
}

/* Start header and footer styling */
header,
footer {
  width: 100%;
  justify-content: center;
  
  position: sticky;

  background-color: var(--main-bg-color);
}

header {
  top: 0;
  position: sticky;
  z-index: 1;
  border-bottom: 2px solid var(--secondary-highlight-color);

  margin-bottom: var(--header-margin);
}

header ul {
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  font-size: 26px;

  padding: 0 1%;
  margin: 0 1%;

  justify-content: center;
  align-items: center;
}

header ul li a {
  padding: 12px 0;
}

header ul li a:hover {
  color: var(--secondary-highlight-color);
}

header ul li.selected a,
header ul li a:focus {
  color: var(--main-highlight-color);
}

footer {
  position: relative;
  bottom: 0;
  z-index: 0;

  padding-bottom: 12px;

  background-color: rgba(0, 0, 0, 0.6);
}

footer .tech-icon-container p {
  visibility: hidden;
  padding-top: 12px;
}

footer .tech-icon-container:hover p {
  visibility: visible;
}
/* End header and footer styling */

/* General main styling */
main {
  color: var(--main-text-color);

  width: var(--main-width);
  align-items: center;

  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 40px);
}

h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 6px;
}

h2 {
  padding-bottom: 3px;
}

.card {
  outline: 2px solid var(--secondary-highlight-color);
  border-radius: 4px;

  width: 67%;

  padding: 24px;
  margin-bottom: var(--header-margin);
}

.card p {
  margin: 6px 0;
  font-size: 18px;
}
/* End general main styling */

/* Home Page */
.home-card-section h2 {
  margin: 12px 0 0;
}

.home-card-section p:nth-child(2n + 1) {
  margin: 18px 0;
}

.tech-icons-container {
  flex-wrap: wrap;
}

.tech-icons-container p.tech-icon-label {
  font-size: 14px;
  margin: 6px;
  font-weight: bold;
  color: #fff;
}

.tech-icons-container p.tech-icon-label.small {
  font-size: 12px;
}

.tech-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.tech-icon {
  height: 50px;
  max-width: 66px;
}

.home-card-sections-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 36px;

  justify-items: stretch;
  align-items: stretch;
}

.home-card-section p {
  color: var(--secondary-text-color);
}

/* Education page */
.education-title-container {
  padding: 6px 0 6px;
}

.education-title-text-container {
  justify-content: space-evenly;
}

.education-title-text-container h2 {
  font-size: 32px;
}

.education-title-text-container h3,
.education-title-text-container h4 {
  color: var(--secondary-text-color);
  padding: 4px 0;
}

.education-title-text-container h3 {
  font-size: 22px;
}

.education-title-text-container h4 {
  font-style: none;
}

.education-title-logo-container {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.cu-logo {
  height: 90px;

  padding-right: 24px;
}

/* Projects Page */
.project-container-root {
  margin-top: -12px;
}

.project-container {
  width: 100%;
  padding: 12px;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 36px;

  justify-items: stretch;
  align-items: stretch;
}

.project-card a {
  outline: 2px solid var(--main-text-color);
  border-radius: 4px;
  height: 80%;
  justify-content: space-around;

  color: var(--main-text-color);

  padding: 12px;

  text-align: center;
}

.project-card a:hover {
  outline-color: var(--secondary-highlight-color);
}

.project-card a:focus {
  outline-color: var(--main-highlight-color)
}

.project-card h4 {
  text-align: center;
  font-size: 24px;
}

.project-card p {
  color: var(--secondary-text-color);
  font-style: italic;
}
/* End projects styling */

/* Start project styling */
.project-page-container {
  width: 80%;
  padding: 12px;

  justify-content: center;
}

.project-page-container h2 {
  font-size: 28px;
}

.project-page-container p,
.project-page-container ul {
  font-size: 18px;
}

.project-page-section {
  margin: 12px 0;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-page-img {
  width: 48%;
  min-width: 450px;
}

.project-text {
  flex-direction: column;
}

.project-text-side {
  width: 50%;
}

.project-text p {
  margin: 6px 0;
}

.project-page-list li {
  margin: 6px 0;
}

.project-page-list span {
  font-size: 16px;
}

.project-page-list span strong {
  font-size: 18px;
}

.project-tech-icons-container {
  width: 100%;
}

.project-tech-icons-container .tech-icons-container {
  justify-content: flex-start;
}

.project-tech-icons-container .tech-icons-container .tech-icon-container {
  margin: 0 12px;
}
/* End project styling */

/* Start 404 Page */
.err-404-card {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  :root {
    --main-width: 67%;
  }
  header ul li {
    padding: 0 36px;
  }

  .tech-icon {
    height: 60px;
  }
}